@import url('inter.css');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
	overflow-y: scroll;
}

html, .title, body, button, h1, h2, h3, h4, h5, h6, input, select, textarea { 
	background-color: #000000;
	text-rendering: optimizeLegibility;
  	font-family: "Karla","Inter", "Avenir Next", "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "ABeeZee", "Colfax", Oxygen-Sans, Cantarell, "Helvetica Neue", "Siyam Rupali", sans-serif;
  	font-feature-settings: "zero" 1, "ss03" 1;
  	-webkit-font-feature-settings: "zero" 1, "ss03" 1;
  	-moz-font-feature-settings:    "zero" 1, "ss03" 1;
  	-ms-font-feature-settings:     "zero" 1, "ss03" 1;
}

body {
    background-color: #000000;
    color: #d9d9d9;
}

p {
/*    color: #111111; */
      color: #d9d9d9;
      -webkit-hyphens: auto;
      -webkit-hyphenate-limit-before: 3;
      -webkit-hyphenate-limit-after: 3;
      -webkit-hyphenate-limit-chars: 6 3 3;
      -webkit-hyphenate-limit-lines: 2;
      -webkit-hyphenate-limit-last: always;
      -webkit-hyphenate-limit-zone: 8%;
      -moz-hyphens: auto;
      -moz-hyphenate-limit-chars: 6 3 3;
      -moz-hyphenate-limit-lines: 2;
      -moz-hyphenate-limit-last: always;
      -moz-hyphenate-limit-zone: 8%;
      -ms-hyphens: auto;
      -ms-hyphenate-limit-chars: 6 3 3;
      -ms-hyphenate-limit-lines: 2;
      -ms-hyphenate-limit-last: always;
      -ms-hyphenate-limit-zone: 8%;
      hyphens: auto;
      hyphenate-limit-chars: 6 3 3;
      hyphenate-limit-lines: 2;
      hyphenate-limit-last: always;
      hyphenate-limit-zone: 8%;
}

.prev-entry a, .next-entry a {
      color: #bfbfbf;
}

.main-menu a {
      color: #bfbfbf;
}

.main-menu a:hover {
      color: #d9d9d9;
}

h1, h2, h3, h4, h5, .title {
      color: #d9d9d9;
}

p code, li code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: #181818;
    color: #d9d9d9;
    border: none;
    border-radius: 3px;
}

pre { 
    font-family: Menlo, Consolas, Monaco, Ubuntu Mono, Liberation Mono, Lucida Console, monospace;
    font-size: .875em;
    background-color: #181818;
    color: #fafafa;
    text-align: initial;
    max-width: 100%;
    padding: 1em 1.5em;
    margin-bottom: 1.725em;
    overflow: auto;
    word-wrap: normal;
}

.social-menu {
    border-bottom: none;
    text-decoration: none;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

sub {
    top: 0.4em;
}

article a[href^="http://"]:not([href*="collantes.us"]) {
    color: #3284c5;
    border-bottom: .01em #ff000 solid;
}

article a[href^="https://"]:not([href*="collantes.us"]) {
    color: #3284c5;
    border-bottom: .01em #ff000 solid;
}

article a:hover[href^="http://"]:not([href*="collantes.us"]) {
    color: #d9d9d9;
    border-bottom: .01em #ff0000 solid;
}

article a:hover[href^="https://"]:not([href*="collantes.us"]) {
    color: #d9d9d9;
    border-bottom: .01em #ff0000 solid;
}

article a, .entry-content a, .list-container a, .term-cloud-container a, .item-title a {
    border-bottom: .01em solid #3284c5;
    color: #3284c5;
}

article a:hover, .list-container a:active, .list-container a:focus, .list-container a:hover, .term-cloud-container a:hover, .item-title a:hover {
    color: #d9d9d9;
    border-bottom-color: #ffcd00;
}

:target {
    animation: hilite 3s ease;
}

@keyframes hilite {
    0%   { background-color: transparent; }
    10%  { background-color: #888888; color: #000000; }
    100% { background-color: transparent; }
}

.entry-nav>div a {
    font-style: normal;
}

.desc {
    color: #787878;
    font-size: 90%;
}

.endofpage {
    text-align: center;
    color: #787878;
}

.date {
    font-style: normal;
}

.footnotes, .copyright p, figcaption {
    font-size: 85%;
    color: #888888;
}

blockquote p {
    color: #bfbfbf;
}

blockquote li {
    color: #bfbfbf;
}

blockquote {
    font-style: normal;
    font-size: 100%;
    background-color: #1a1a1a;
    padding: 15px;
}

.entry-meta span {
    font-style: normal;
    font-size: 0.85em;
    color: #888888;
    font-family: Inter, Menlo, Consolas, Monaco, Ubuntu Mono, Liberation Mono, Lucida Console, monospace;
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.divider {
    margin-top: 2em;
    width: 4em;
    border-color: #bdbdbd;
    border-style: solid;
    border-width: .125em 0 0 0;
    background-color: transparent;
}

.meicon {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    float: left;
    margin-right: 15px;
    vertical-align: text-top;
    width: 80px;
}
.convo .person {
    @include font-size(0.9);
    font-weight: bold;
    font-style: normal;
    text-align: right;
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb
}

.note_update {
    padding: 0.6rem 0.8rem 0.6rem 0.8rem;
    border-left: 4px #F05133 solid;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #212121;
}

.note_update_timestamp {
    font-weight: 700;
    opacity: 0.6;
}

.logo__cursor {
  display: inline-block;
  width: 10px;
  height: 1rem;
  background: #fe5186;
  margin-left: 5px;
  border-radius:1px;
  -webkit-animation:cursor 1s infinite;
  animation:cursor 1s infinite;
}

@-webkit-keyframes cursor { 
  0%{opacity:0}
  50%{opacity:1}to{opacity:0}
}

@keyframes cursor{
  0%{opacity:0}
  50%{opacity:1}to{opacity:0}
}

time {
  font-family: Menlo,Consolas,Inter;
  font-size: 90%;
}

.sep-after:after, .sep-before:before {
    content: "";
    display: block;
    width: 4em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    border-bottom: .125em solid #ffcd00;
}