/* General style sheet */
:root {
  --first-favourite-colour: #00bfff;
/*  --first-favourite-colour: #008000; */
}

-/* Fonts */
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
       url('fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
       url('fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
       url('fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* latin-ext */
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Karla Italic'), local('Karla-Italic'), url(fonts/karla-italic-400-01.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Karla Italic'), local('Karla-Italic'), url(fonts/karla-italic-400-02.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Karla Bold Italic'), local('Karla-BoldItalic'), url(fonts/karla-italic-700-01.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Karla Bold Italic'), local('Karla-BoldItalic'), url(fonts/karla-italic-700-02.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Karla'), local('Karla-Regular'), url(fonts/karla-normal-400-01.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Karla'), local('Karla-Regular'), url(fonts/karla-normal-400-02.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Karla Bold'), local('Karla-Bold'), url(fonts/karla-normal-700-01.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Karla Bold'), local('Karla-Bold'), url(fonts/karla-normal-700-02.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* General */
* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

html {
  font-family: 'Karla', -apple-system, 'Lato', BlinkMacSystemFont, "Segoe UI", Cantarell, Ubuntu, Helvetica, Arial, sans-serif;
  background-color: white;
  text-rendering: optimizeLegibility;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;
  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

html, body {
  min-width: 18rem;
  padding: 1.5rem;
}

body {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 2rem;
  font-size: 1.1rem;
  color: #333;
}

/* Headings */

h1, h2, h3 {
  line-height: 1;
}
header > h1 { 
  font-size: 3rem; margin-top: 0; margin-bottom: 0;
}
h1, h2 { 
  font-size: 2rem;
}
:not(header) > h1 {
  line-height:1.25;
}
h2 { 
  margin-top: 2.5rem; margin-bottom: 1.5rem;
}
h3 { 
  font-size: 1.5rem; line-height: 1.25; margin-top: 2rem;
}

.postdate {
  font-family: 'Lato';
}

time.single {
  display: block;
  font-size: 1rem;
  line-height: 1;
  font-weight: normal;
  color: gray;
  text-align: left;
  margin-top: -0.3rem;
}

.single a {
  text-decoration: none;
  font-size: 0.8rem;
  color: gray;
}

/* Stop subscripts and superscripts from changing the line height.
   Courtesy of https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/ */
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

.meicon {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin-right: 15px;
  vertical-align: text-top;
  width: 70px;
}

/* Figures and images */
img {
  width: 100%
}

/*
  Set images to full width by default. This also stops
  images from “jumping” during layout (which happens if only
  max-width is set.
*/
main img {
  width: 100%;
  border: 1px solid gray;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

/*
  Screenshots of windows with drop shadows don’t appear to take up 100%
  of the width. Adjust them optically.
*/
.window-with-shadow > img {
  max-width: 110%;
  width: 110%;
  margin-left: -5%;
  margin-right: -5%;
}

/*
  And also pull the figure captions up so that the margin doesn’t take the drop
  shadow into consideration.
*/
.window-with-shadow > figcaption, .window-with-shadow > figcaption > p:first-of-type {
  margin-top: -1rem;
}

/*
  Don’t add additional space between an H3 and a figure that immediately follows
  it to improve grouping.
*/
h3 + figure {
  margin-top: 0;
}

/* For windows with shadow, tighten up the spacing even further. */
h3 + figure.window-with-shadow {
  margin-top: -0.5rem;
}

/* Specialisations */
figure.half-width-flush-right {
  width: 47.5%;
  margin-left: 5%;
  float: right; 
  margin-top: 0.5rem; /* get the top to line up with text */
  margin-bottom: 0;
}

/* Video */
video, video[poster] { 
  width: 100%;
}
figure > video {
  margin-bottom: 1rem;
}

/* Block quotes */
blockquote {
  margin-left: 0rem;
  border-left: 0.3rem solid slategray;
  padding-left: 1rem;
  font-style: normal;
  color: slategray;
}

blockquote a {
  color: slategray;
}

blockquote li {
  margin-left: 2em;
}

/* Code */
pre, code {
  font-family: "SFMono-Regular", Menlo, Consolas, "Fira Code", "Liberation Mono", Courier, monospace;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
}

pre {
  background-color: #eeeeee;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  
  /*margin-left: -1rem;
  margin-right: -1rem;*/
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

pre > code {
  font-size: 0.9rem;
}

:not(pre) > code {
  color: darkcyan;
  font-weight: 500;
}

/* Links */
a {
  color: #333;
  text-decoration-color: var(--first-favourite-colour);
  /* 
  text-decoration: none;
  border-bottom: 1px dotted var(--first-favourite-colour);
  */
  text-decoration-thickness: .125em;
  text-underline-offset: 1.7px;
  text-decoration-skip-ink: auto;
}

header > a {
  border: none;
  text-decoration: none;
}

header > h1 > a {
  border: none;
  text-decoration: none;
}


/* Lists */
ol, ul {
  margin-left: -2.5rem;
}

li::marker {
  color: var(--first-favourite-colour);
}

.posttitle {
  max-width: 100%;
  overflow: auto;
}

/* Tables */
/* Make tables display with striped row borders overflowing the flush left alignment of the text just like we do with lists and code blocks for consistency. */
table {
  width: 100%;
  border-spacing: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

th:first-of-type, td:first-of-type {
  padding-left: 1rem;
  padding-right: 1rem;
}

th {
  text-align: left;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

/* Hack to add space between thead and tbody (https://stackoverflow.com/a/10762599) */
tbody::before {
  content: '';
  display: block;
  height: 0.5rem;
}

td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  vertical-align: top;
}

tr > td:first-child {
  font-weight: bold;
}

/* Stripes */
tr:nth-child(2n) {
  background-color: #eee;
}

/* Special styles */
/* Warnings */
.important-warning {
  /* Make any icons inside align properly to text flow. */
  display: flex;
  align-items: center;
  background-color: darkred;
  color: white;
  border-radius: 1rem;
  /* Keep text flush left and bleed the background. */
  padding: 1rem;
  margin-left: -3.5rem;
  padding-left: 0rem;
  margin-right: -3.5rem;
  padding-right: 3.5rem;
}

.warning-icon {
  height: 5rem;
  display: inline-block;
  padding-left: 1rem;
  margin-right: 1rem;
  /* padding: 0; */
}

.warning-path {
  fill: white;
}

/* Images */
.hairline-border > img {
  border: 1px solid gray;
}

/* Icons */
header {
  display: grid;
  grid-template-columns: 1fr 2.25rem 2.4rem 2.25rem 2.25rem;
  grid-gap: 0.10rem;
  margin-bottom: 2.7rem;
  align-items: end;
}

.fas:hover, .fab:hover {
  color: var(--first-favourite-colour);
}

.email, .mastodon, .rss, .p2p {
  height: 27px;
}

/* Keyboard styles */
kbd {
  display: inline-block;
  border-radius: 0.25rem;
  color: #ffffff;
  background-color: #666;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  border: 1px solid lightgray;
  line-height: 1.25rem;
  font-size: 1rem;
  font-family: 'Karla';
}

/* Footnotes */
.footnote-ref { 
  font-size: 0.9rem; margin-left: 0.15rem;
}
.footnotes { 
  font-size: 1rem; margin-top: 2rem; color: slategray;
}
.footnotes > hr { 
  border: none; height: 1px; background-color: #cccccc;
}
.footnotes li::marker { 
  font-size: 1rem; color: var(--first-favourite-colour);
}
.footnotes::before { 
  content: "Footnotes"; font-size: 1rem;
}

/* Footer */
footer {
  border-top: 1px dotted var(--first-favourite-colour);
  text-align: center;
  font-size: 0.9rem;
  margin-top: 2rem;
}

#about-the-author {
  /* background-color: #eee; */
  padding-top: 2rem;
  text-align: left;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 2rem;
  /* align-items: end; */
}

#about-the-author img {
  float: left;
  margin-right: 24px;
}

#about-the-author h3 {
  margin-top: 0;
  margin-bottom: 12px;
}

.summary {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}
/* Break point: warning dialog touches the edges */

@media (max-width: 752px) {
  .important-warning {
    border-radius: 0;
  }
}

/* Break point: width is smaller than original layout width */

@media (max-width: 740px) {
  .mastodon-embed {
    width: 100%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Break point: title goes to two lines: 580px. */
/* Nothing yet. */
/* Break point: narrow portrait view-ports */

@media (max-width: 420px) {
  html {
    font-size: 0.9rem;
  }

  html, body {
    padding: 0.5rem;
  }

  /*
  Remove the border radius so the background colour of code blocks appears in
  full bleed.
  */
  .chroma {
    border-radius: 0;
  }

  /* Let the figure captions breath, even on images with shadows */
  .window-with-shadow > figcaption, .window-with-shadow > figcaption > p:first-of-type {
    margin-top: 0;
  }

  /* Sadly, there’s not enough room to make list text flush left. */
  li { 
    list-style-position: inside;
  }

  /* Half-width images leave the text too narrow to read comfortably so revert to full-width. */
  figure.half-width-flush-right {
    width: 100%;
    margin-left: inherit;
  }

  .important-warning {
    margin-left: 0;
    margin-right: 0;
  }

  .warning-icon {
    height: 10rem;
  }
}

button {
  text-align: center;
  cursor: pointer;
  font-size:16px;
  color: white;
  border-radius: 4px;
  background-color:#466B6A;
  border: none;
  padding: 0.75em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  transition: color 0.5s;
  transition: background-color 0.5s;
}

button:hover {
  color: black;
  background-color: #92AAA4;
}

button:disabled {
  color: #999;
  background-color: #ccc !important;
}

.code-with-copy-button {
  display: grid;
  grid-template-columns: 1fr [button] auto;
  align-items: center;
}

.code-with-copy-button code {
  padding-right: 1em;
}

.installation-instructions button {
  grid-column: button;
}

.installation-instructions pre {
  /* Ensure the copy button doesn’t overlap the code itself. */
  grid-column: 1/2;
  padding-right: 5.5em;
  margin-right: -5.5em;
  margin-top: 0;
  margin-bottom: 0;
}

#links-to-instructions-for-other-platforms a {
  cursor: pointer;
}

/*  Auto dark */
@media (prefers-color-scheme: dark) {
  a {
    color: #ccc;
    /*
    text-decoration: none;
    border-bottom: 1px dotted var(--first-favourite-colour);
    */
    text-decoration-color: var(--first-favourite-colour);
    text-decoration-thickness: .130em;
    text-underline-offset: 1.5px;
    text-decoration-skip-ink: auto;
  }
  pre {
    background-color: #444444;
  }
  html {
    background-color: #000000;
  }
  body {
    color: #dddddd;
  }
  .day:not(.item-0) { 
    color: black;
  }
  a.anchor {
    text-decoration: none;
    border-bottom: none;
  }
  tr:nth-child(2n) {
    background-color: #222;
  }
  blockquote {
    margin-left: 0rem;
    border-left: 0.3rem solid #999999;
    padding-left: 1rem;
    font-style: normal;
    color: #999999;
  }
  blockquote a {
    color: #999999;
  }
  blockquote li {
    margin-left: 2em;
  }  
}

a.anchor {
   text-decoration: none;
   border-bottom: none;
}

.prompt {
    display: inline-block;
    width: 20px;
    height: 30px;
    background: var(--first-favourite-colour);
    margin-left: 5px;
    border-radius: 1px;
    -webkit-animation: cursor 1s infinite;
    animation: cursor 1s infinite;
}

@-webkit-keyframes cursor{0%{opacity:0}50%{opacity:1}to{opacity:0}}@keyframes cursor{0%{opacity:0}50%{opacity:1}to{opacity:0}}.menu{--shadow-color:rgba(0,0,0,0.12);--shadow:0 8px 20px var(--shadow-color);border-right:1px solid;margin-right:18px;padding-right:24px;font-weight:600}

.divider {
    margin: 2em 0 2em 0;
    width: 4em;
    border-color: var(--first-favourite-colour);
    border-style: solid;
    border-width: .125em 0 0 0;
    background-color: transparent;
    text-align: left;
}

.container {
    font-size: 1rem; margin-top: 0.5rem; color: slategray;
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    margin-top: 20px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.hash {
  font-size: 1rem;
}

.post__hash {
   text-decoration: none;
   margin-left: -25px;
   margin-right: 10px;
   color: #cccccc;
   opacity: 0.25;
}

.post__hash:hover {
   color: var(--first-favourite-colour);
   opacity: 1;
}